<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<style>
    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
</style>

<h1 style="text-align: center;">Covid Countrywise Data</h1>

{{#each info as |value key| }}
    <div class="center">
        <h2 style="text-align: center;">{{value.country}}</h2>
        <h4 style="text-align: center;" class="text-warning">Total Cases:{{value.cases}}</h3>
        <h4 style="text-align: center;" class="text-success">Total Recovered:{{value.recovered}}</h3>
        <h4 style="text-align: center;" class="text-danger">Total Deaths:{{value.deaths}}</h3>
        <img class="center" src="{{value.countryInfo.flag}}"><br>
    </div>
{{/each}}